/* card deck aka SECONDARY */


.card-deck .card-secondary:hover {
  box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
}
.card-deck .card-secondary:hover .card-title{
  color: #4e22d0;
}
.card-deck .card-secondary .card-body {
  padding: 0;
}
.card-deck .card-secondary .card-img-top{
  margin-bottom: 24px;
  border-radius: 0px;
}
.card-deck .card-secondary .card-title {
  color: #261c6a;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 16px;
}
.card-deck .card-secondary .card-text {
  color: #261c6a;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  margin-bottom: 16px;
}
.card-deck .card-secondary .card-footer {
  padding: 9px 0 25px;
  background: transparent;
  border:0;
}
.card-deck .card-secondary .card-footer .btn{
  margin-right: -24px;
}