.books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.books-slider a img{
    height: 15rem;
}

.books-slider a:hover img{
    transform: scale(.9);
}

.books-slider .stand{
    width:100%;
    margin-top: -1rem;
}